@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@font-face {
    font-family: 'TimelessRadianceScript';
    src: url('./TimelessRadianceScript.ttf') format('truetype');
  }



  body{
    margin: 0 auto;
    background-color: black;
  }  

  h1{
    font-family: 'TimelessRadianceScript';
    font-size: 90px;
    color: white;
    text-align: center;
  }

  .box{
    text-align: center;
  }
  
  p.times-new-roman {
    font-family: 'Pixelify Sans';
    font-size: 28px;
    color: #e33333;
}

p.courier-new {
  font-family: 'Dela Gothic One', cursive;
  font-size: 28px;
  color: #0cf9aa;
}

/* Стиль для параграфа зі шрифтом Verdana */
p.verdana {
  font-family: Verdana, sans-serif;
  font-size: 28px;
  color: #c3ff00;
}